[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llvmlite = "*"
psutil = "*"
memory-profiler = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "*"
